@font-face {
    font-family:'digital-clock-font';
    src: url('fonts/digital-7/digital-7.ttf');
}

body {
    font-family: sans-serif;
    background-color: rgb(216, 216, 216);
}


.display { grid-area: display; }
#clear { grid-area: clear; }
#sign { grid-area: sign; }
#percent { grid-area: percent; }
#comma { grid-area: comma; }
.keys[data-key="48"] { grid-area: zer0; }
.keys[data-key="49"] { grid-area: one; }
.keys[data-key="50"] { grid-area: two; }
.keys[data-key="51"] { grid-area: three; }
.keys[data-key="52"] { grid-area: four; }
.keys[data-key="53"] { grid-area: five; }
.keys[data-key="54"] { grid-area: six; }
.keys[data-key="55"] { grid-area: seven; }
.keys[data-key="56"] { grid-area: eight; }
.keys[data-key="57"] { grid-area: nine; }
#add { grid-area: op-add; }
#subtract  { grid-area: op-subtract; }
#multiply { grid-area: op-multiply; }
#divide  { grid-area: op-divide; }
#equals { grid-area: op-equals; }

.grid-container {
    display: grid;
    grid-gap: .2rem .2rem;
    grid-template-areas: 
        'display display display display'
        'clear sign percent op-divide'
        'seven eight nine op-multiply'
        'four five six op-subtract'
        'one two three op-add'
        'zer0 zer0 comma op-equals';
    grid-template-columns: 19.6vh 19.6vh 19.6vh 19.6vh;
    margin: 5vh auto;
    width: 80vh;
    border: .2rem solid rgb(230, 229, 229);
    border-radius: 1rem;
    background-color: rgb(230, 229, 229);
}

.grid-container > div {
    padding: 1.4rem 1.4rem;
    text-align: center;
    font-size: 2rem;
}

.grid-container .display {
    font-family: 'digital-clock-font';
    font-size: 5rem;
    text-align: right;
}

.keys {
    background-color: rgb(155, 155, 155);
    transition: all 0.2s ease;
}

.bottom-left {
    border-bottom-left-radius: 0.85rem;
}

.keys.operators {
    background-color: rgb(212, 112, 17);
}

.bottom-right {
    border-bottom-right-radius: 0.85rem;
}

.keys.pressed {
    background-color: rgb(209, 209, 209);
}